extends _layout
block config
    - var nav = 'review'
    - var pageTitle = 'Reviews'
block content
    h2(class="centered") What do #[strong you] think?

    div(id="all-comments")

    hr
    form(method="post", class="form-horizontal", role="form")
        div(class="row")
            div(class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3")
                div(class="form-group")
                    input(type="text",
                    id="input-name",
                    placeholder="Enter your name or username",
                    class="form-control")
                    div(class="clearfix hidden-sm-up")
                    textarea(class="form-control",
                    id="input-comment",
                    placeholder="Suggestions, comments, observations... they're all welcome!")
                    div(class="clearfix hidden-sm-up")

                div(class="warning-box", id="warning-comment") Max. count: 250 characters

                button(type="submit", id="submit-comment-button", class="btn btn-primary col-md-offset-10") Submit